/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

a {
  color: #00e;
}

a:visited {
  color: #551a8b;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

label {
  cursor: pointer;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
  *overflow: visible;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input:valid, textarea:valid {
}

input:invalid, textarea:invalid {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =============================================================================
Primary styles
Author: Jasha Joachimsthal
========================================================================== */
body {
  font-family: Helvetica, Arial, serif;
  background-color: #EEEEEE;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.2em 0 0 0;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.25em;
}

a, a:visited {
  color: #A63F00;
}

#container {
  overflow: auto;
}

header {
  color: #FFFFFF;
  padding: 0.833333333%; /* 8/960 px*/
  background: #ffb76b; /* Old browsers */
  background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, #ff7c00), color-stop(100%, #ff7f04)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* IE10+ */
  background: linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffb76b', endColorstr = '#ff7f04', GradientType = 0); /* IE6-9 */

}

header a, header a:hover, header a:visited {
  color: #fff;
}

#main, footer {
  padding: 0.8em 3%;
}

#main {
  background-color: #FFFFFF;
}

footer {
  background-color: #767676;
}

footer, footer a, footer a:visited {
  color: #FFFFFF;
}

.no-touch a {
  text-decoration: none;
}

.no-touch a:hover {
  text-decoration: underline;
}

.horizontal li {
  display: inline;
}

.innerheader {
  padding: 0.5em 2%;
}

.payoff {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0.7em 0 -0.3em 0;
}

.topnav li {
  font-size: 1.1em;
  padding: 2.30769231% 2.0833333% 0.208333333% 0; /* 3px 20px 2px 0 / 960 */
}

.topnav a, .topnav a:hover, .topnav a:visited {
  color: #A63F00;
}

.topnav li.active a, .topnav li.active a:visited {
  font-weight: bold;
}

.search {
  display: none;
}

.search input {
  max-width: 50%;
  border: 1px solid #ff7f04;
  float: left;
  padding: 0.2em 5px;
}

.search input[type="search"] {
  -webkit-appearance: textfield;

  padding-left: 1px;

  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.search input[type="submit"] {
  color: #FFFFFF;
  background-color: #ff7f04;
  border: 1px solid #ff7f04;
  float: left;
  width: auto;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

#main {
  line-height: 1.5em;
}

.mainarticle {
  margin: 0 0 2em 0;
}

.mainarticle h1, .mainarticle h2, .mainarticle h3, .mainarticle h4 {
  color: #FF8940;
}

.mainarticle img {
  max-width: 95%;
}

article h1, aside h2 {
  margin: 1em auto;
}

aside section {
  clear: both;
}

aside h2 {
  color: #024C68;
}

aside h3 {
  margin-top: 0;
  color: #226078;
}

aside a, aside a:visited {
  color: #0776A0;
}

fieldset ul, aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.teasers {
  list-style-type: none;
  margin: 0 0 1em 0;
  padding: 0;
}

.teasers a:hover h2, .touch .teasers li h2 {
  text-decoration: underline;
}

.teasers li {
  margin-top: 0.5em;
  border-bottom: 1px dotted #A63F00;
}

.teasers li:last-child {
  border-bottom: none;
}

.teasers h2 {
  margin-top: 0.5em;
}

.teasers a, .teasers a:hover, .teasers a:visited {
  color: #222222;
  text-decoration: none;
}

.commentform li {
  margin: 0.5em 0;
}

.commentform label {
  display: block;
  margin-top: 1em;
}

.commentform input, .commentform textarea {
  width: 90%;
  margin: 0 auto;
  padding: 0.5em 5%;
  border: 1px solid #ff7f04;
  font-size: 1.1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.commentform input[type=submit] {
  width: auto;
  padding: 0.5em 5%;
}

.commentform input[type=submit] {
  color: #FFFFFF;
  border: 1px solid #FF8500;
  background-color: #FF8500;
  margin: 1em 0;
}

.comment {
  border-bottom: 1px dotted #A63F00;
}

.comment h3 time {
  font-size: 0.8em; /* 1.25 * 0.8 = 1 */
  font-weight: normal;
}

.facetcategory {
  min-width: 30%;
  float: left;
  margin-bottom: 1em;
}

.more {
  display: none;
}

.paging {
  margin: 2em 0;
  padding: 0;
}

.paging li {
  border: 1px solid #A63F00;
  padding: 0.5em 0;
}

.paging li b, .paging li a {
  padding: 0.5em 10px;
}

.paging li.active, .paging li:hover {
  color: #FFFFFF;
  background-color: #A63F00;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.paging li:hover a, .paging li:hover a:visited {
  color: #FFFFFF;
}

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.ir br {
  display: none;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* =============================================================================
PLACEHOLDER Media Queries for Responsive Design.
These override the primary ('mobile first') styles
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

  .search {
    display: block;
    float: right;
    margin-top: -3px;
    max-width: 26.260504202%; /* 250 / 952px*/
  }

  #main {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 69%, rgba(237,237,237,1) 70%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(69%,rgba(243,243,243,1)), color-stop(70%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 69%,rgba(237,237,237,1) 70%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 69%,rgba(237,237,237,1) 70%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 69%,rgba(237,237,237,1) 70%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 69%,rgba(237,237,237,1) 70%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

  }

  .mainarticle {
    float: left;
    margin: 0 5% 0 0;
    padding-right: 1%;
    width: 69%;
  }

  aside {
    float: left;
    max-width: 24%;
  }

  aside section {
    border-bottom: 1px dotted #024C68;
  }

  aside section:last-child {
    border-bottom: none;
  }

  .topnav li {
    font-weight: normal;
  }
  
  .date {
    float: right;
  }

  .teasers li {
    margin-top: 1em;
  }

  .facetcategory {
    float: none;
  }

}

@media only screen and (min-width: 1024px) {
  /* Style adjustments for viewports 1024px and over go here */
  #container {
    width: 960px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.4);

  }

}

/* =============================================================================
Print styles.
Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
